// COLOR PALETTE


// Pink shades
$pink-100: #FFACCC;
$pink-200: #E36A98;
$pink-300: #DB1D6F;

// Blue shades
$blue-100: #C4CBE7;
$blue-200: #97A0C4;
$blue-300: #646A82;

// Background color
$background: #F4F1EE;