// MASTER STYLESHEET

@import 'colors';
@import 'grid';

body {
    font-family: "Space Mono", monospace;
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.hundred {
    height: 100vh;
}

@import 'nav';
@import 'cards';
@import 'edit';
@import 'login';