:root {
    /* Pink shades */
    --pink-100: #FFACCC;
    --pink-200: #E36A98;
    --pink-300: #DB1D6F;

    /* Blue shades */
    --blue-100: #C4CBE7;
    --blue-200: #97A0C4;
    --blue-300: #646A82;

    /* Background color */
    --background: #F4F1EE;
}

body {
    font-family: "Space Mono", monospace;
    background-color:var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    border-radius: 12px;
    background: #F4F1EE;
    box-shadow:  17px 17px 34px #7f7d7c,
                -17px -17px 34px #ffffff;
    border-radius: 20px;
    max-width: 850px;
    width: 90%;
    width: max-content;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}
.header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ff69b4;
    padding-bottom: 10px;
}
.edit {
    color: var(--blue-200);
    font-weight: 600;
    text-decoration: none;
}

.edit:hover {
    color: var(--blue-100);
    font-weight: 600;
    text-decoration: none;
}

.photo {
    overflow: hidden;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
    img {
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
        border: 1px solid var(--blue-100);
    }
}
.info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.name {
    color: var(--pink-300);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.title {
    color: var(--pink-200);
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px 0 20px;
}

.q {
    color: var(--pink-300);
    text-transform: uppercase;
}

.a {
    color: var(--pink-200);
}

.quote {
    color: var(--pink-300);
    font-style: italic;
    text-transform: uppercase;
}


.signature {
    grid-column: -3 / -2;
    display: flex;
    justify-content: center;
}

.extra {
    grid-column: -2 / -1;
}

.dates, .copyright {
    color: var(--pink-100);
    font-size: 12px;

    a {
        color: var(--pink-100);
    }
}